* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

/* header */

header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 5em 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navigation {
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 1em; /* equivalent to a ' ' between each list item, scaled by font size */
}

/* content */

/* hero */

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 5em 5em;
    gap: 1em;
}

.hero .text,
.hero .image {
    flex: 1;
}

.hero .text .main{
    font-size: 48px;
    color: #f9faf8;
}

.hero .text .secondary{
    font-size: 18px;
    color: #e5e7eb;
}

.hero .text button{
    font-size: 18px;
    background-color: #3882f6;
    border-width: 0px;
    color: white;
    font-weight: bolder;
    padding: 0.5em 2.5em;
    border-radius: 0.5em;
}

.hero .image {
    background-color: gray;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* info */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5em;
}

.info .title {
    padding: 1em 0;
    font-size: 36px;
    color: #1f2937;
}

.info .items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 36px;
    padding: 0 5em 2.5em;
    flex-wrap: wrap;
}

.info .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .items .item .image {
    font-size: 18px;
    border: 0.25em solid #3882f6;
    border-radius: 1em;
    width: 10em;
    height: 10em;
}

.info .items .item .text {
    font-size: 18px;
    width: 10em;
    text-align: center;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    padding: 5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
    padding: 0 2.5em;
}

.quote .credit {
    font-size: 18px;
    text-align: right;
    padding: 0 5em;
}

/* call to action */

.call-to-action {
    font-size: 18px;
    margin: 5em 5em;
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    padding: 0em 5em;
}

.call-to-action .text {
    padding: 2.5em 0;
}

.call-to-action button{
    font-size: 18px;
    background-color: #3882f6;
    border-color: white;
    color: white;
    font-weight: bolder;
    padding: 0.5em 2.5em;
    border-radius: 0.5em;
}

/* footer */

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 2.5em 0;
}